<!doctype html>
<html>
<head>
    <title>与小突聊天</title>
    <meta charset="utf-8"/>
<script type='text/javascript' src='http://code.jquery.com/jquery-1.10.2.js'>
</script>
</head>

<body>
<script type='text/javascript'>
$SCRIPT_ROOT = '/';
$(function() {
        var submit_form = function(e) {
        $.getJSON($SCRIPT_ROOT+'reply', {
            l:$('input[name="l"]').val()
        }, function(data) {
            for(i = 0; i < data.reply.length; i++) {
                if(data.reply[0] != '') {
                s = '你 说：'+data.req[i] + '<br/>';
                s += '小突说：'+data.reply[i] + '<br/><br/>';
                $('#r').prepend(s);
                $('input[name="l"]').val("");
                }
            }
        });
        return false;
    };
    $('#get_reply').bind('click', submit_form);
    $(document).keypress(function(e) {
        if(e.which == 13) {
            submit_form('');
        }
        });
});
</script>
<h1>与小突聊天</h1>
<p>
你说:<input type='text' name='l' size='60' /><input type='button' id='get_reply' value='发送'/><br/>
<hr/>
<b>对话记录：</b>
<div id='r' style="width:50%">
</div>
</body>
</html>

